body {background-color : #ededed; font-family : "Open Sans", sans-serif;}

h1 {padding: 30px; text-align: center; font-size: 1em;}

li a {text-decoration : none; color : #2d2f31;}


nav {
  width : 300px; 
  background: #d9d9d9;
  margin : 10px auto; 
}

span {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: lef;
  transition: height .4s ease;
}

.slide li {padding : 8px;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 200px;} 

nav.nav.nav-tabs{
    width: auto;
}

img {
    width: 100%;
    height: 60px;
}